# Virtual environment
venv/

# Ignore database files
*.sqlite3
*.db

# Ignore compiled Python files and cache directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore static files
static/

# Ignore media files
media/

# Ignore local settings
*.env

# Ignore macOS system files
.DS_Store

# Ignore IDE specific files (e.g., for Visual Studio Code)
.vscode/

# Ignore logs and temporary files
logs/
*.log
*.tmp
*.swp

# Ignore environment-specific settings
.env
